In [51]:
import sys
import os

'''

Jupyter указывает корневую директорию - директорию, в которой создали файл .ipynb, в данном случае eda/,
поэтому он не видит директории выше уровнем и не может импортировать модули оттуда. 
Код ниже - устанваливает корневой директорией - директорию проекта, то есть /api_eda_football

'''

current_dir = os.getcwd()
if current_dir.endswith('/eda'):
    project_root = os.path.dirname(current_dir)
else:
    project_root = current_dir

sys.path.append(project_root)

In [52]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [53]:
df = pd.read_csv(f"{os.path.dirname(current_dir)}/eda/merged_df.csv")
df

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20180,426,1815,J. de Guzman,38.0,Canada,Netherlands,173,70,https://media.api-sports.io/football/players/1...,False,...,14,6.450000,Sparta Rotterdam,Netherlands,https://media.api-sports.io/football/teams/426...,J.Guzman,Jonathan de Guzman,"Jun 13, 2024","Jun 30, 2026",1
20181,205,2109,S. Bastien,29.0,Belgium,Congo DR,175,75,https://media.api-sports.io/football/players/2...,False,...,9,6.731818,Fortuna Sittard,Netherlands,https://media.api-sports.io/football/teams/205...,S.Bastien,Samuel Bastien,"Aug 8, 2024","Jun 30, 2027",2
20182,194,25321,D. Klaassen,32.0,Netherlands,Netherlands,179,70,https://media.api-sports.io/football/players/2...,False,...,30,7.058064,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,D.Klaassen,Davy Klaassen,"Jun 30, 2025","Jun 30, 2027",2
20183,209,138874,A. Tsoungui,23.0,Belgium,Belgium,185,68,https://media.api-sports.io/football/players/1...,False,...,2,NaN,Feyenoord,Netherlands,https://media.api-sports.io/football/teams/209...,A.Tsoungui,Antef Tsoungui,"Sep 1, 2025","Jun 30, 2029",4
20184,194,282126,Carlos Forbs,21.0,Portugal,Portugal,169,62,https://media.api-sports.io/football/players/2...,False,...,14,6.900000,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,C.Forbs,Carlos Forbs,"Jul 17, 2025","Jun 30, 2029",4

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20185 entries, 0 to 20184
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team_id            20185 non-null  int64
 1   player_id          20185 non-null  int64
 2   player_name        20185 non-null  object
 3   age                20164 non-null  float64
 4   country_birth      20185 non-null  object
 5   nationality        20185 non-null  object
 6   player_height      18312 non-null  object
 7   player_weight      16879 non-null  object
 8   player_photo       20185 non-null  object
 9   injured            20185 non-null  bool
 10  league             20185 non-null  object
 11  season             20185 non-null  int64
 12  position           20182 non-null  object
 13  is_captain         20185 non-null  bool
 14  shots_on           10392 non-null  float64
 15  shots_total        11731 non-null  float64
 16  goals              13890 non-null  float64
 17  assists            14042 non-null  float64
 18  passes_total       14197 non-null  float64
 19  passes_key         11923 non-null  float64
 20  duels_total        13986 non-null  float64
 21  duels_won          13738 non-null  float64
 22  dribbles_attempts  12297 non-null  float64
 23  dribbles_success   11547 non-null  float64
 24  fouls              12800 non-null  float64
 25  yellow_cards       17277 non-null  float64
 26  yellow_red_cards   10302 non-null  float64
 27  red_cards          17277 non-null  float64
 28  sidelined_times    20185 non-null  int64
 29  trophies_count     20185 non-null  int64
 30  player_rating      14178 non-null  float64
 31  team_name          20124 non-null  object
 32  team_country       20124 non-null  object
 33  team_logo          20124 non-null  object
 34  new_name           20185 non-null  object
 35  player             20185 non-null  object
 36  signed             20159 non-null  object
 37  expiration         20185 non-null  object
 38  years_remaining    20185 non-null  int64
dtypes: bool(2), float64(16), int64(6), object(15)
memory usage: 5.7+ MB

### Анализ пропущенных значений до очистки

### Анализ пропущенных значений до очистки

In [55]:
player_rating_nan_rows = df['player_rating'].isnull()
count_player_rating_nan = player_rating_nan_rows.sum()
print(f"1. Число строк с NaNs в столбце 'player_rating': {count_player_rating_nan}")
print("Примеры строк с NaNs в 'player_rating':")
display(df[player_rating_nan_rows].head(5))

other_cols_df = df.drop(columns=['player_rating'], errors='ignore')
other_cols_nan_rows = other_cols_df.isnull().any(axis=1)

print(f"\n2. Число строк с наличием NaNs в любых других столбцах (кроме 'player_rating'): {other_cols_nan_rows.sum()}")
print("Примеры строк с NaNs в других столбцах (кроме 'player_rating'):")
display(df[other_cols_nan_rows].head(5))

combined_nan_rows = player_rating_nan_rows & other_cols_nan_rows
count_combined_nan = combined_nan_rows.sum()
print(f"\n3. Число строк с NaNs и в 'player_rating', и в каких-то других столбцах: {count_combined_nan}")
print("Примеры строк с NaNs и в 'player_rating', и в других столбцах:")
display(df[combined_nan_rows].head(5))

1. Число строк с NaNs в столбце 'player_rating': 6007
Примеры строк с NaNs в 'player_rating':

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1

2. Число строк с наличием NaNs в любых других столбцах (кроме 'player_rating'): 15845
Примеры строк с NaNs в других столбцах (кроме 'player_rating'):

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1

3. Число строк с NaNs и в 'player_rating', и в каких-то других столбцах: 6007
Примеры строк с NaNs и в 'player_rating', и в других столбцах:

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1

In [56]:
df.dropna(subset=['player_rating'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20185 entries, 0 to 20184
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team_id            20185 non-null  int64
 1   player_id          20185 non-null  int64
 2   player_name        20185 non-null  object
 3   age                20164 non-null  float64
 4   country_birth      20185 non-null  object
 5   nationality        20185 non-null  object
 6   player_height      18312 non-null  object
 7   player_weight      16879 non-null  object
 8   player_photo       20185 non-null  object
 9   injured            20185 non-null  bool
 10  league             20185 non-null  object
 11  season             20185 non-null  int64
 12  position           20182 non-null  object
 13  is_captain         20185 non-null  bool
 14  shots_on           10392 non-null  float64
 15  shots_total        11731 non-null  float64
 16  goals              13890 non-null  float64
 17  assists            14042 non-null  float64
 18  passes_total       14197 non-null  float64
 19  passes_key         11923 non-null  float64
 20  duels_total        13986 non-null  float64
 21  duels_won          13738 non-null  float64
 22  dribbles_attempts  12297 non-null  float64
 23  dribbles_success   11547 non-null  float64
 24  fouls              12800 non-null  float64
 25  yellow_cards       17277 non-null  float64
 26  yellow_red_cards   10302 non-null  float64
 27  red_cards          17277 non-null  float64
 28  sidelined_times    20185 non-null  int64
 29  trophies_count     20185 non-null  int64
 30  player_rating      14178 non-null  float64
 31  team_name          20124 non-null  object
 32  team_country       20124 non-null  object
 33  team_logo          20124 non-null  object
 34  new_name           20185 non-null  object
 35  player             20185 non-null  object
 36  signed             20159 non-null  object
 37  expiration         20185 non-null  object
 38  years_remaining    20185 non-null  int64
dtypes: bool(2), float64(16), int64(6), object(15)
memory usage: 5.7+ MB

In [57]:
df.head()

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1

In [58]:
duplicate_rows_count = df.duplicated().sum()
print(f"Число полных дубликатов в DataFrame: {duplicate_rows_count}")

df.drop_duplicates()

print(f"Число строк в DataFrame после удаления дубликатов: {len(df)}")

Число полных дубликатов в DataFrame: 1766
Число строк в DataFrame после удаления дубликатов: 20185

In [59]:
df.head()

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1

In [60]:
duplicate_names = df[df.duplicated(subset=['player_name'], keep=False)].sort_values(by='player_name')

if not duplicate_names.empty:
    print("Группы дублирующихся игроков по имени:")
    duplicate_names
else:
    print("В DataFrame нет дублирующихся имен игроков.")

Группы дублирующихся игроков по имени:

In [61]:
# Проверим "жёсткие" дубликаты по player_id + team_id
true_dupes = df[df.duplicated(subset=['player_id', 'team_id'], keep=False)]
print(f'Истинных дубликатов: {true_dupes.shape[0]}')

# Проверим, есть ли дубликаты только по имени (но с разным player_id/team_id)
name_dupes = df[df.duplicated(subset=['player_name'], keep=False)]
print(f'Совпадений только по имени: {name_dupes.shape[0]}')

Истинных дубликатов: 9595
Совпадений только по имени: 12709

In [62]:
lafter = len(df)

# Преобразуем даты
df['signed'] = pd.to_datetime(df['signed'], errors='coerce')
df['expiration'] = pd.to_datetime(df['expiration'], errors='coerce')

# Определим все колонки, кроме ключей
cols = [c for c in df.columns if c not in ['player_id', 'team_id']]

# Базовое правило агрегации — 'first'
agg_dict = {c: 'first' for c in cols}

# Исключения с другой логикой
agg_dict.update({
    'signed': 'min',
    'expiration': 'max',
    'years_remaining': 'max',
    'player_rating': 'max'
})

# Группировка
df = df.groupby(['player_id', 'team_id'], as_index=False).agg(agg_dict)

print(f"✅ После схлопывания по player_id + team_id: {len(df)} строк (было {lafter})")

✅ После схлопывания по player_id + team_id: 13628 строк (было 20185)

In [63]:
duplicate_names = df[df.duplicated(subset=['player_name'], keep=False)].sort_values(by='player_name')

if not duplicate_names.empty:
    print("Группы дублирующихся игроков по имени:")
    display(duplicate_names)
else:
    print("В DataFrame нет дублирующихся имен игроков.")

Группы дублирующихся игроков по имени:

,player_id,team_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
12895,437483,93,A. Bamba,21.0,Côte d'Ivoire,Côte d'Ivoire,177,65,https://media.api-sports.io/football/players/4...,False,...,0,6.700000,Reims,France,https://media.api-sports.io/football/teams/93.png,A.Bamba,Abdoulaye Bamba,2025-01-20,2030-06-30,5
12896,437483,762,A. Bamba,21.0,Côte d'Ivoire,Côte d'Ivoire,177,65,https://media.api-sports.io/football/players/4...,False,...,0,6.900000,GIL Vicente,Portugal,https://media.api-sports.io/football/teams/762...,A.Bamba,Abdoulaye Bamba,2025-01-20,2030-06-30,5
5720,49583,88,A. Abdi,32.0,Tunisia,Tunisia,183,73,https://media.api-sports.io/football/players/4...,False,...,14,7.500000,Caen,France,https://media.api-sports.io/football/teams/88.png,A.Abdi,Ali Abdi,2025-02-20,2027-06-30,2
5719,49583,84,A. Abdi,32.0,Tunisia,Tunisia,183,73,https://media.api-sports.io/football/players/4...,False,...,14,7.026086,Nice,France,https://media.api-sports.io/football/teams/84.png,A.Abdi,Ali Abdi,2025-02-20,2027-06-30,2
10576,325969,76,A. Abdulai,23.0,Scotland,Scotland,183,75,https://media.api-sports.io/football/players/3...,False,...,0,6.633333,Swansea,Wales,https://media.api-sports.io/football/teams/76.png,A.Abdulai,Azeem Abdulai,2025-01-22,2027-06-30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5190,41964,212,Ze Pedro,28.0,Portugal,Portugal,187,84,https://media.api-sports.io/football/players/4...,False,...,18,7.084210,FC Porto,Portugal,https://media.api-sports.io/football/teams/212...,Z.Pedro,Ze Pedro,2025-09-01,2028-06-30,3
9904,296709,217,Ze Pedro,23.0,Portugal,Portugal,190 cm,83 kg,https://media.api-sports.io/football/players/2...,False,...,3,NaN,SC Braga,Portugal,https://media.api-sports.io/football/teams/217...,Z.Pedro,Ze Pedro,2025-09-01,2028-06-30,3
11352,352387,133,Ze Vitor,23.0,Brazil,Brazil,None,None,https://media.api-sports.io/football/players/3...,False,...,0,NaN,Vasco DA Gama,Brazil,https://media.api-sports.io/football/teams/133...,Z.Vitor,Ze Vitor,2024-07-04,2027-06-30,2
9701,288230,134,Ze Vitor,25.0,Brazil,Brazil,None,None,https://media.api-sports.io/football/players/2...,False,...,2,6.487500,Atletico Paranaense,Brazil,https://media.api-sports.io/football/teams/134...,Z.Vitor,Ze Vitor,2024-07-04,2027-06-30,2
10186,309730,225,Ze Vitor,24.0,Brazil,Brazil,189,96,https://media.api-sports.io/football/players/3...,False,...,2,6.932258,Nacional,Portugal,https://media.api-sports.io/football/teams/225...,Z.Vitor,Ze Vitor,2024-07-04,2027-06-30,2

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  int64
 1   team_id            13628 non-null  int64
 2   player_name        13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  object
 7   player_weight      11550 non-null  object
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  league             13628 non-null  object
 11  season             13628 non-null  int64
 12  position           13627 non-null  object
 13  is_captain         13628 non-null  bool
 14  shots_on           7216 non-null   float64
 15  shots_total        8109 non-null   float64
 16  goals              9615 non-null   float64
 17  assists            9708 non-null   float64
 18  passes_total       9810 non-null   float64
 19  passes_key         8247 non-null   float64
 20  duels_total        9682 non-null   float64
 21  duels_won          9511 non-null   float64
 22  dribbles_attempts  8502 non-null   float64
 23  dribbles_success   7970 non-null   float64
 24  fouls              8876 non-null   float64
 25  yellow_cards       11880 non-null  float64
 26  yellow_red_cards   7151 non-null   float64
 27  red_cards          11880 non-null  float64
 28  sidelined_times    13628 non-null  int64
 29  trophies_count     13628 non-null  int64
 30  player_rating      9777 non-null   float64
 31  team_name          13601 non-null  object
 32  team_country       13601 non-null  object
 33  team_logo          13601 non-null  object
 34  new_name           13628 non-null  object
 35  player             13628 non-null  object
 36  signed             13609 non-null  datetime64[ns]
 37  expiration         13628 non-null  datetime64[ns]
 38  years_remaining    13628 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(16), int64(6), object(13)
memory usage: 3.9+ MB

In [65]:
# Переименовываем колонку 'player' → 'player_fullname'
df.rename(columns={'player': 'player_fullname'}, inplace=True)

# Удаляем 'new_name'
df.drop(columns=['new_name'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  int64
 1   team_id            13628 non-null  int64
 2   player_name        13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  object
 7   player_weight      11550 non-null  object
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  league             13628 non-null  object
 11  season             13628 non-null  int64
 12  position           13627 non-null  object
 13  is_captain         13628 non-null  bool
 14  shots_on           7216 non-null   float64
 15  shots_total        8109 non-null   float64
 16  goals              9615 non-null   float64
 17  assists            9708 non-null   float64
 18  passes_total       9810 non-null   float64
 19  passes_key         8247 non-null   float64
 20  duels_total        9682 non-null   float64
 21  duels_won          9511 non-null   float64
 22  dribbles_attempts  8502 non-null   float64
 23  dribbles_success   7970 non-null   float64
 24  fouls              8876 non-null   float64
 25  yellow_cards       11880 non-null  float64
 26  yellow_red_cards   7151 non-null   float64
 27  red_cards          11880 non-null  float64
 28  sidelined_times    13628 non-null  int64
 29  trophies_count     13628 non-null  int64
 30  player_rating      9777 non-null   float64
 31  team_name          13601 non-null  object
 32  team_country       13601 non-null  object
 33  team_logo          13601 non-null  object
 34  player_fullname    13628 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(16), int64(6), object(12)
memory usage: 3.8+ MB

In [66]:
new_order = [
    'player_id', 'player_name', 'player_fullname',
    'age', 'country_birth', 'nationality',
    'player_height', 'player_weight', 'player_photo',
    'injured', 'position', 'is_captain',

    'league', 'season',
    'shots_on', 'shots_total', 'goals', 'assists',
    'passes_total', 'passes_key',
    'duels_total', 'duels_won',
    'dribbles_attempts', 'dribbles_success',
    'fouls', 'yellow_cards', 'yellow_red_cards', 'red_cards',
    'sidelined_times', 'trophies_count', 'player_rating',

    'team_id', 'team_name', 'team_country', 'team_logo',

    'signed', 'expiration', 'years_remaining'
]

df = df[new_order]

print("Колонки переставлены логично:")
print(df.columns.tolist())

Колонки переставлены логично:
['player_id', 'player_name', 'player_fullname', 'age', 'country_birth', 'nationality', 'player_height', 'player_weight', 'player_photo', 'injured', 'position', 'is_captain', 'league', 'season', 'shots_on', 'shots_total', 'goals', 'assists', 'passes_total', 'passes_key', 'duels_total', 'duels_won', 'dribbles_attempts', 'dribbles_success', 'fouls', 'yellow_cards', 'yellow_red_cards', 'red_cards', 'sidelined_times', 'trophies_count', 'player_rating', 'team_id', 'team_name', 'team_country', 'team_logo', 'signed', 'expiration', 'years_remaining']

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  int64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  object
 7   player_weight      11550 non-null  object
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  int64
 14  shots_on           7216 non-null   float64
 15  shots_total        8109 non-null   float64
 16  goals              9615 non-null   float64
 17  assists            9708 non-null   float64
 18  passes_total       9810 non-null   float64
 19  passes_key         8247 non-null   float64
 20  duels_total        9682 non-null   float64
 21  duels_won          9511 non-null   float64
 22  dribbles_attempts  8502 non-null   float64
 23  dribbles_success   7970 non-null   float64
 24  fouls              8876 non-null   float64
 25  yellow_cards       11880 non-null  float64
 26  yellow_red_cards   7151 non-null   float64
 27  red_cards          11880 non-null  float64
 28  sidelined_times    13628 non-null  int64
 29  trophies_count     13628 non-null  int64
 30  player_rating      9777 non-null   float64
 31  team_id            13628 non-null  int64
 32  team_name          13601 non-null  object
 33  team_country       13601 non-null  object
 34  team_logo          13601 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(16), int64(6), object(12)
memory usage: 3.8+ MB

In [68]:
# определяем числовые, булевы и строковые колонки
num_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
bool_cols = df.select_dtypes(include=['bool']).columns.tolist()
obj_cols = df.select_dtypes(include=['object']).columns.tolist()
dt_cols  = df.select_dtypes(include=['datetime64[ns]']).columns.tolist()

# исключаем player_id из списка
for col_list in [num_cols, bool_cols, obj_cols, dt_cols]:
    if 'player_id' in col_list:
        col_list.remove('player_id')

# словарь правил агрегации
agg_rules = {}

# числовые — максимум
for c in num_cols:
    agg_rules[c] = 'max'

# булевые — максимум (True побеждает)
for c in bool_cols:
    agg_rules[c] = 'max'

# строки — первое ненулевое значение
for c in obj_cols:
    agg_rules[c] = lambda x: x.dropna().iloc[0] if x.dropna().shape[0] else np.nan

# даты — максимум (последняя известная)
for c in dt_cols:
    agg_rules[c] = 'max'

# собираем мастер-таблицу
player_master = df.groupby('player_id', as_index=False).agg(agg_rules)

print(f"✅ Сформирован словарь игроков: {len(player_master)} записей (из {df['player_id'].nunique()})")

✅ Сформирован словарь игроков: 11973 записей (из 11973)

In [69]:
df = df.merge(player_master, on='player_id', suffixes=('', '_fill'))

for col in player_master.columns:
    if col != 'player_id' and col in df.columns:
        df[col] = df[col].fillna(df[f'{col}_fill'])
        df.drop(columns=[f'{col}_fill'], inplace=True, errors='ignore')

print("✅ Пропуски заполнены по мастер-словарю игроков.")

✅ Пропуски заполнены по мастер-словарю игроков.

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  int64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  object
 7   player_weight      11550 non-null  object
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  int64
 14  shots_on           8184 non-null   float64
 15  shots_total        9114 non-null   float64
 16  goals              10274 non-null  float64
 17  assists            10759 non-null  float64
 18  passes_total       10853 non-null  float64
 19  passes_key         9282 non-null   float64
 20  duels_total        10730 non-null  float64
 21  duels_won          10577 non-null  float64
 22  dribbles_attempts  9523 non-null   float64
 23  dribbles_success   9016 non-null   float64
 24  fouls              9963 non-null   float64
 25  yellow_cards       12410 non-null  float64
 26  yellow_red_cards   7816 non-null   float64
 27  red_cards          12410 non-null  float64
 28  sidelined_times    13628 non-null  int64
 29  trophies_count     13628 non-null  int64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  int64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(16), int64(6), object(12)
memory usage: 3.8+ MB

In [71]:
# создаём копию, чтобы не потерять оригинальные значения
df['yellow_red_cards_filled'] = df['yellow_red_cards']

# если у игрока нет ни жёлтых, ни красных - точно нет жёлто-красных
mask_no_cards = (df['yellow_cards'] == 0) & (df['red_cards'] == 0)
df.loc[mask_no_cards, 'yellow_red_cards_filled'] = 0

# если есть хоть одна жёлтая или красная, но значение NaN — ставим 0
mask_some_cards = ((df['yellow_cards'] > 0) | (df['red_cards'] > 0)) & (df['yellow_red_cards'].isna())
df.loc[mask_some_cards, 'yellow_red_cards_filled'] = 0

# если есть жёлто-красная, а жёлтая или красная == 0 — исправляем на минимум 1
mask_conflict = (df['yellow_red_cards_filled'] > 0) & ((df['yellow_cards'] == 0) | (df['red_cards'] == 0))
df.loc[mask_conflict, ['yellow_cards', 'red_cards']] = df.loc[mask_conflict, ['yellow_cards', 'red_cards']].fillna(1)

print(f"yellow_red_cards заполнено у {df['yellow_red_cards_filled'].notna().sum()} из {len(df)} игроков")

yellow_red_cards заполнено у 12410 из 13628 игроков

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   player_id                13628 non-null  int64
 1   player_name              13628 non-null  object
 2   player_fullname          13628 non-null  object
 3   age                      13612 non-null  float64
 4   country_birth            13628 non-null  object
 5   nationality              13628 non-null  object
 6   player_height            12496 non-null  object
 7   player_weight            11550 non-null  object
 8   player_photo             13628 non-null  object
 9   injured                  13628 non-null  bool
 10  position                 13627 non-null  object
 11  is_captain               13628 non-null  bool
 12  league                   13628 non-null  object
 13  season                   13628 non-null  int64
 14  shots_on                 8184 non-null   float64
 15  shots_total              9114 non-null   float64
 16  goals                    10274 non-null  float64
 17  assists                  10759 non-null  float64
 18  passes_total             10853 non-null  float64
 19  passes_key               9282 non-null   float64
 20  duels_total              10730 non-null  float64
 21  duels_won                10577 non-null  float64
 22  dribbles_attempts        9523 non-null   float64
 23  dribbles_success         9016 non-null   float64
 24  fouls                    9963 non-null   float64
 25  yellow_cards             12410 non-null  float64
 26  yellow_red_cards         7816 non-null   float64
 27  red_cards                12410 non-null  float64
 28  sidelined_times          13628 non-null  int64
 29  trophies_count           13628 non-null  int64
 30  player_rating            10818 non-null  float64
 31  team_id                  13628 non-null  int64
 32  team_name                13614 non-null  object
 33  team_country             13614 non-null  object
 34  team_logo                13614 non-null  object
 35  signed                   13609 non-null  datetime64[ns]
 36  expiration               13628 non-null  datetime64[ns]
 37  years_remaining          13628 non-null  int64
 38  yellow_red_cards_filled  12410 non-null  float64
dtypes: bool(2), datetime64[ns](2), float64(17), int64(6), object(12)
memory usage: 3.9+ MB

In [73]:
# заменяем старое значение на актуальное
df['yellow_red_cards'] = df['yellow_red_cards_filled']

# удаляем временную колонку
df.drop(columns=['yellow_red_cards_filled'], inplace=True, errors='ignore')

print("yellow_red_cards обновлено и очищено:")
print(df[['yellow_cards', 'red_cards', 'yellow_red_cards']].info())

yellow_red_cards обновлено и очищено:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   yellow_cards      12410 non-null  float64
 1   red_cards         12410 non-null  float64
 2   yellow_red_cards  12410 non-null  float64
dtypes: float64(3)
memory usage: 319.5 KB
None

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  int64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  object
 7   player_weight      11550 non-null  object
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  int64
 14  shots_on           8184 non-null   float64
 15  shots_total        9114 non-null   float64
 16  goals              10274 non-null  float64
 17  assists            10759 non-null  float64
 18  passes_total       10853 non-null  float64
 19  passes_key         9282 non-null   float64
 20  duels_total        10730 non-null  float64
 21  duels_won          10577 non-null  float64
 22  dribbles_attempts  9523 non-null   float64
 23  dribbles_success   9016 non-null   float64
 24  fouls              9963 non-null   float64
 25  yellow_cards       12410 non-null  float64
 26  yellow_red_cards   12410 non-null  float64
 27  red_cards          12410 non-null  float64
 28  sidelined_times    13628 non-null  int64
 29  trophies_count     13628 non-null  int64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  int64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(16), int64(6), object(12)
memory usage: 3.8+ MB

In [75]:
# числовые колонки, которые нужно привести к float
num_cols = [
    'player_height', 'player_weight',
    'shots_on', 'shots_total', 'goals', 'assists',
    'passes_total', 'passes_key',
    'duels_total', 'duels_won',
    'dribbles_attempts', 'dribbles_success',
    'fouls', 'yellow_cards', 'yellow_red_cards', 'red_cards',
    'sidelined_times', 'trophies_count',
    'years_remaining', 'age',
    'player_id', 'team_id', 'season'
]

for col in num_cols:
    if col in df.columns:
        df[col] = (
            df[col]
            .astype(str)
            .str.replace('[^0-9.\-]', '', regex=True)  # оставляем и точку
            .replace('', np.nan)
            .astype(float)
        )


if 'player_rating' in df.columns:
    df['player_rating'] = pd.to_numeric(df['player_rating'], errors='coerce').astype(float)

bool_cols = ['injured', 'is_captain']
for col in bool_cols:
    if col in df.columns:
        df[col] = df[col].astype(bool)

date_cols = ['signed', 'expiration']
for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

print("типы колонок после нормализации:")
df.info()

типы колонок после нормализации:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  float64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      12496 non-null  float64
 7   player_weight      11550 non-null  float64
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  float64
 14  shots_on           8184 non-null   float64
 15  shots_total        9114 non-null   float64
 16  goals              10274 non-null  float64
 17  assists            10759 non-null  float64
 18  passes_total       10853 non-null  float64
 19  passes_key         9282 non-null   float64
 20  duels_total        10730 non-null  float64
 21  duels_won          10577 non-null  float64
 22  dribbles_attempts  9523 non-null   float64
 23  dribbles_success   9016 non-null   float64
 24  fouls              9963 non-null   float64
 25  yellow_cards       12410 non-null  float64
 26  yellow_red_cards   12410 non-null  float64
 27  red_cards          12410 non-null  float64
 28  sidelined_times    13628 non-null  float64
 29  trophies_count     13628 non-null  float64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  float64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  float64
dtypes: bool(2), datetime64[ns](2), float64(24), object(10)
memory usage: 3.8+ MB

<>:19: SyntaxWarning:

invalid escape sequence '\-'

<>:19: SyntaxWarning:

invalid escape sequence '\-'

/var/folders/__/hj824y414r7fr09n9vk1vw140000gn/T/ipykernel_72622/2341776491.py:19: SyntaxWarning:

invalid escape sequence '\-'

In [76]:
has_height = df['player_height'].notna()
has_weight = df['player_weight'].notna()

only_height = (has_height & ~has_weight).sum()
only_weight = (~has_height & has_weight).sum()
none_both   = (~has_height & ~has_weight).sum()
both_exist  = (has_height & has_weight).sum()

print(f"Есть рост, но нет веса: {only_height}")
print(f"Есть вес, но нет роста: {only_weight}")
print(f"Нет ни роста, ни веса: {none_both}")
print(f"Есть и рост, и вес: {both_exist}")

print(f"\nПроверка: сумма категорий = {only_height + only_weight + none_both + both_exist} / {len(df)}")

Есть рост, но нет веса: 948
Есть вес, но нет роста: 2
Нет ни роста, ни веса: 1130
Есть и рост, и вес: 11548

Проверка: сумма категорий = 13628 / 13628

In [77]:
mask_no_weight = df['player_weight'].isna()
mask_no_height = df['player_height'].isna()

weight_by_height = (
    df.dropna(subset=['player_height', 'player_weight'])
    .groupby('player_height')['player_weight']
    .apply(list)
    .to_dict()
)

mean_h, std_h = df['player_height'].dropna().mean(), df['player_height'].dropna().std()
mean_w, std_w = df['player_weight'].dropna().mean(), df['player_weight'].dropna().std()

def fill_weight(row):
    if pd.notna(row['player_weight']):
        return row['player_weight']
    h = row['player_height']
    # если рост известен и есть статистика
    if pd.notna(h) and h in weight_by_height and len(weight_by_height[h]) > 2:
        return int(np.random.choice(weight_by_height[h]))
    # если рост известен, но нет данных по этому росту
    elif pd.notna(h):
        return int(np.random.normal(mean_w, std_w))
    # если роста вообще нет — оба из глобального распределения
    else:
        h_new = int(np.random.normal(mean_h, std_h))
        w_new = int(np.random.normal(mean_w, std_w))
        df.at[row.name, 'player_height'] = h_new
        return w_new

# применяем
df['player_weight'] = df.apply(fill_weight, axis=1).round().astype('Int64')
df['player_height'] = df['player_height'].round().astype('Int64')

print(f"Пропуски роста и веса полностью заполнены: осталось {df['player_weight'].isna().sum()} весов и {df['player_height'].isna().sum()} ростов")

Пропуски роста и веса полностью заполнены: осталось 0 весов и 2 ростов

In [78]:
has_height = df['player_height'].notna()
has_weight = df['player_weight'].notna()

only_height = (has_height & ~has_weight).sum()
only_weight = (~has_height & has_weight).sum()
none_both   = (~has_height & ~has_weight).sum()
both_exist  = (has_height & has_weight).sum()

print(f"📏 Есть рост, но нет веса: {only_height}")
print(f"⚖️  Есть вес, но нет роста: {only_weight}")
print(f"🚫 Нет ни роста, ни веса: {none_both}")
print(f"✅ Есть и рост, и вес: {both_exist}")

print(f"\nПроверка: сумма категорий = {only_height + only_weight + none_both + both_exist} / {len(df)}")

📏 Есть рост, но нет веса: 0
⚖️  Есть вес, но нет роста: 2
🚫 Нет ни роста, ни веса: 0
✅ Есть и рост, и вес: 13626

Проверка: сумма категорий = 13628 / 13628

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  float64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      13626 non-null  Int64
 7   player_weight      13628 non-null  Int64
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  float64
 14  shots_on           8184 non-null   float64
 15  shots_total        9114 non-null   float64
 16  goals              10274 non-null  float64
 17  assists            10759 non-null  float64
 18  passes_total       10853 non-null  float64
 19  passes_key         9282 non-null   float64
 20  duels_total        10730 non-null  float64
 21  duels_won          10577 non-null  float64
 22  dribbles_attempts  9523 non-null   float64
 23  dribbles_success   9016 non-null   float64
 24  fouls              9963 non-null   float64
 25  yellow_cards       12410 non-null  float64
 26  yellow_red_cards   12410 non-null  float64
 27  red_cards          12410 non-null  float64
 28  sidelined_times    13628 non-null  float64
 29  trophies_count     13628 non-null  float64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  float64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  float64
dtypes: Int64(2), bool(2), datetime64[ns](2), float64(22), object(10)
memory usage: 3.8+ MB

In [82]:
df.head()

,player_id,player_name,player_fullname,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,sidelined_times,trophies_count,player_rating,team_id,team_name,team_country,team_logo,signed,expiration,years_remaining
0,1.0,R. Burki,Roman Burki,35.0,Switzerland,Switzerland,187,85,https://media.api-sports.io/football/players/1...,False,...,8.0,27.0,7.086666,20787.0,St. Louis City,USA,https://media.api-sports.io/football/teams/207...,2025-10-18,2027-12-31,3.0
1,5.0,M. Akanji,Manuel Akanji,30.0,Switzerland,Switzerland,188,91,https://media.api-sports.io/football/players/5...,False,...,20.0,36.0,7.000000,50.0,Manchester City,England,https://media.api-sports.io/football/teams/50.png,2025-09-01,2026-06-30,1.0
2,6.0,L. Balerdi,Leonardo Balerdi,26.0,Argentina,Argentina,187,76,https://media.api-sports.io/football/players/6...,False,...,2.0,20.0,6.907407,81.0,Marseille,France,https://media.api-sports.io/football/teams/81.png,2024-08-16,2028-06-30,3.0
3,8.0,Raphael Guerreiro,Raphael Guerreiro,32.0,France,Portugal,170,71,https://media.api-sports.io/football/players/8...,False,...,28.0,25.0,7.281818,157.0,Bayern München,Germany,https://media.api-sports.io/football/teams/157...,2023-07-01,2026-06-30,1.0
4,9.0,A. Hakimi,Achraf Hakimi,27.0,Spain,Morocco,181,73,https://media.api-sports.io/football/players/9...,False,...,4.0,40.0,7.744000,85.0,Paris Saint Germain,France,https://media.api-sports.io/football/teams/85.png,2025-02-07,2029-06-30,4.0

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  float64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  float64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      13626 non-null  Int64
 7   player_weight      13628 non-null  Int64
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  float64
 14  shots_on           8184 non-null   float64
 15  shots_total        9114 non-null   float64
 16  goals              10274 non-null  float64
 17  assists            10759 non-null  float64
 18  passes_total       10853 non-null  float64
 19  passes_key         9282 non-null   float64
 20  duels_total        10730 non-null  float64
 21  duels_won          10577 non-null  float64
 22  dribbles_attempts  9523 non-null   float64
 23  dribbles_success   9016 non-null   float64
 24  fouls              9963 non-null   float64
 25  yellow_cards       12410 non-null  float64
 26  yellow_red_cards   12410 non-null  float64
 27  red_cards          12410 non-null  float64
 28  sidelined_times    13628 non-null  float64
 29  trophies_count     13628 non-null  float64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  float64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  float64
dtypes: Int64(2), bool(2), datetime64[ns](2), float64(22), object(10)
memory usage: 3.8+ MB

In [85]:
# получаем все float-поля, кроме рейтинга
float_cols = [
    c for c in df.select_dtypes(include=["float64"]).columns
    if c != "player_rating"
]

# округляем и приводим к Int64
for col in float_cols:
    df[col] = df[col].round().astype("Int64")

print("все числовые колонки (кроме рейтинга) округлены до целых:")
df.info()

все числовые колонки (кроме рейтинга) округлены до целых:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  Int64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  Int64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      13626 non-null  Int64
 7   player_weight      13628 non-null  Int64
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  Int64
 14  shots_on           8184 non-null   Int64
 15  shots_total        9114 non-null   Int64
 16  goals              10274 non-null  Int64
 17  assists            10759 non-null  Int64
 18  passes_total       10853 non-null  Int64
 19  passes_key         9282 non-null   Int64
 20  duels_total        10730 non-null  Int64
 21  duels_won          10577 non-null  Int64
 22  dribbles_attempts  9523 non-null   Int64
 23  dribbles_success   9016 non-null   Int64
 24  fouls              9963 non-null   Int64
 25  yellow_cards       12410 non-null  Int64
 26  yellow_red_cards   12410 non-null  Int64
 27  red_cards          12410 non-null  Int64
 28  sidelined_times    13628 non-null  Int64
 29  trophies_count     13628 non-null  Int64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  Int64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  Int64
dtypes: Int64(23), bool(2), datetime64[ns](2), float64(1), object(10)
memory usage: 4.1+ MB

In [87]:
# считаем сумму и число NaN по позициям
summary = (
    df.groupby("position")
    .agg({
        "goals": ["sum", lambda x: x.isna().sum()],
        "fouls": ["sum", lambda x: x.isna().sum()],
    })
)

summary.columns = ["goals_sum", "goals_nan", "fouls_sum", "fouls_nan"]
summary = summary.reset_index().sort_values("goals_sum", ascending=False)

display(summary)

     position  goals_sum  goals_nan  fouls_sum  fouls_nan
0    Attacker      10377        575      49593        787
3  Midfielder       5823        995      66018       1016
1    Defender       2504       1232      46636       1050
2  Goalkeeper          1        552       2343        811

In [88]:
# фильтруем только голкиперов
gk = df[df["position"].str.lower().str.contains("goal", na=False)]

# считаем четыре метрики
gk_stats = {
    "goals_sum": gk["goals"].sum(),
    "goals_nan": gk["goals"].isna().sum(),
    "fouls_sum": gk["fouls"].sum(),
    "fouls_nan": gk["fouls"].isna().sum(),
}

print("Показатели для голкиперов:")
for k, v in gk_stats.items():
    print(f"{k:>12}: {v}")

Показатели для голкиперов:
   goals_sum: 1
   goals_nan: 552
   fouls_sum: 2343
   fouls_nan: 811

In [89]:
gk[gk["goals"] > 0][["player_name", "team_name", "goals", "season"]]

      player_name team_name  goals  season
6053  I. Leshchuk    Dynamo      1    2024

In [90]:
# фильтр на всех голкиперов кроме Игорька
mask_gk = df["position"].str.lower().str.contains("goal", na=False)
mask_igor = df["player_name"].str.contains("Leshchuk", case=False, na=False)

# если вратарь и не Игорь — заменяем NaN на 0
df.loc[mask_gk & ~mask_igor, "goals"] = df.loc[mask_gk & ~mask_igor, "goals"].fillna(0)

print("✅ Пропуски в 'goals' у вратарей заменены на 0 (Игорь Лещук сохранён).")
print("Проверка:", df.loc[mask_gk, "goals"].isna().sum(), "NaN осталось.")

✅ Пропуски в 'goals' у вратарей заменены на 0 (Игорь Лещук сохранён).
Проверка: 0 NaN осталось.

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          13628 non-null  Int64
 1   player_name        13628 non-null  object
 2   player_fullname    13628 non-null  object
 3   age                13612 non-null  Int64
 4   country_birth      13628 non-null  object
 5   nationality        13628 non-null  object
 6   player_height      13626 non-null  Int64
 7   player_weight      13628 non-null  Int64
 8   player_photo       13628 non-null  object
 9   injured            13628 non-null  bool
 10  position           13627 non-null  object
 11  is_captain         13628 non-null  bool
 12  league             13628 non-null  object
 13  season             13628 non-null  Int64
 14  shots_on           8184 non-null   Int64
 15  shots_total        9114 non-null   Int64
 16  goals              10826 non-null  Int64
 17  assists            10759 non-null  Int64
 18  passes_total       10853 non-null  Int64
 19  passes_key         9282 non-null   Int64
 20  duels_total        10730 non-null  Int64
 21  duels_won          10577 non-null  Int64
 22  dribbles_attempts  9523 non-null   Int64
 23  dribbles_success   9016 non-null   Int64
 24  fouls              9963 non-null   Int64
 25  yellow_cards       12410 non-null  Int64
 26  yellow_red_cards   12410 non-null  Int64
 27  red_cards          12410 non-null  Int64
 28  sidelined_times    13628 non-null  Int64
 29  trophies_count     13628 non-null  Int64
 30  player_rating      10818 non-null  float64
 31  team_id            13628 non-null  Int64
 32  team_name          13614 non-null  object
 33  team_country       13614 non-null  object
 34  team_logo          13614 non-null  object
 35  signed             13609 non-null  datetime64[ns]
 36  expiration         13628 non-null  datetime64[ns]
 37  years_remaining    13628 non-null  Int64
dtypes: Int64(23), bool(2), datetime64[ns](2), float64(1), object(10)
memory usage: 4.1+ MB

In [93]:
df_backup = df.copy(deep=True)

In [94]:
# индекс потенциала футболиста, учитываем два фактора - близость к 25 годам (0.4) и рейтинг относительно сверстников (0.6)

df_backup['growth_potential'] = (
    (25 - abs(df_backup['age'] - 25)) * 0.4 + (df_backup['player_rating'] / df_backup.groupby('age')['player_rating'].transform('max')) * 0.6
)

In [95]:
df_backup

,player_id,player_name,player_fullname,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_id,team_name,team_country,team_logo,signed,expiration,years_remaining,growth_potential
0,1,R. Burki,Roman Burki,35,Switzerland,Switzerland,187,85,https://media.api-sports.io/football/players/1...,False,...,27,7.086666,20787,St. Louis City,USA,https://media.api-sports.io/football/teams/207...,2025-10-18,2027-12-31,3,6.538228
1,5,M. Akanji,Manuel Akanji,30,Switzerland,Switzerland,188,91,https://media.api-sports.io/football/players/5...,False,...,36,7.000000,50,Manchester City,England,https://media.api-sports.io/football/teams/50.png,2025-09-01,2026-06-30,1,8.526273
2,6,L. Balerdi,Leonardo Balerdi,26,Argentina,Argentina,187,76,https://media.api-sports.io/football/players/6...,False,...,20,6.907407,81,Marseille,France,https://media.api-sports.io/football/teams/81.png,2024-08-16,2028-06-30,3,10.10182
3,8,Raphael Guerreiro,Raphael Guerreiro,32,France,Portugal,170,71,https://media.api-sports.io/football/players/8...,False,...,25,7.281818,157,Bayern München,Germany,https://media.api-sports.io/football/teams/157...,2023-07-01,2026-06-30,1,7.76014
4,9,A. Hakimi,Achraf Hakimi,27,Spain,Morocco,181,73,https://media.api-sports.io/football/players/9...,False,...,40,7.744000,85,Paris Saint Germain,France,https://media.api-sports.io/football/teams/85.png,2025-02-07,2029-06-30,4,9.781461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13623,522181,Rodrigo Rodrigues,Ruben Rodrigues,18,Portugal,Portugal,175,75,https://media.api-sports.io/football/players/5...,False,...,0,6.700000,762,GIL Vicente,Portugal,https://media.api-sports.io/football/teams/762...,2024-01-31,2027-06-30,3,7.716358
13624,522291,Alberto Vogtmann,Alberto Vogtmann,19,Denmark,Denmark,179,86,https://media.api-sports.io/football/players/5...,False,...,0,6.300000,396,Sonderjyske,Denmark,https://media.api-sports.io/football/teams/396...,2025-07-01,2026-06-30,1,8.1
13625,522640,Artem Korneev,Artem Korneev,19,Russia,Russia,174,67,https://media.api-sports.io/football/players/5...,False,...,0,NaN,597,Lokomotiv,Russia,https://media.api-sports.io/football/teams/597...,2025-07-18,2026-06-30,1,<NA>
13626,522648,Jose Carlos Gonzalez,Jersson Gonzalez,19,Spain,Spain,171,55,https://media.api-sports.io/football/players/5...,False,...,0,6.300000,534,Las Palmas,Spain,https://media.api-sports.io/football/teams/534...,2022-07-01,2030-06-30,5,8.1
13627,522649,Arturo Rodriguez,Alan Rodriguez,19,Spain,Spain,183,69,https://media.api-sports.io/football/players/5...,False,...,0,6.300000,534,Las Palmas,Spain,https://media.api-sports.io/football/teams/534...,2023-01-01,2029-12-31,5,8.1

In [96]:
df_backup = df_backup.drop('injured', axis=1)

In [97]:
df['league'].unique()

array(['USA Major League Soccer', 'England Premier League',
       'France Ligue 1', 'Germany Bundesliga', 'Denmark Superliga',
       'Spain La Liga', 'Italy Serie A', 'Brazil Serie A',
       'Belgium Challenger Pro League', 'England Championship',
       'Croatia HNL', 'Portugal Primeira Liga', 'Germany 2. Bundesliga',
       'France Ligue 2', 'Netherlands Eredivisie',
       'Saudi-Arabia Pro League', 'Italy Serie B',
       'Russia Premier League', 'Argentina Liga Profesional Argentina',
       'Mexico Liga MX', 'England League Two', 'Colombia Primera A',
       'Austria Bundesliga', 'Sweden Allsvenskan', 'England League One'],
      dtype=object)

In [98]:
df_work = df_backup.copy(deep=True)

# числовые столбцы и NA
num_cols = ['shots_total','shots_on','passes_total','passes_key','goals','assists','age','player_height','player_weight']
for c in num_cols:
    if c in df_work.columns:
        df_work[c] = pd.to_numeric(df_work[c], errors='coerce').fillna(0)

# возрастная кривая (пик 26)
age = df_work['age'].clip(16, 40)
age_factor = np.exp(-((age - 26) ** 2) / (2 * (8 ** 2)))

# позиции
pos = df_work['position'].fillna('Unknown').str.upper()
position_multipliers = {
    'FW': 1.20, 'ST': 1.20, 'CF': 1.20, 'LW': 1.18, 'RW': 1.18,
    'AM': 1.15, 'CAM': 1.15, 'LM': 1.10, 'RM': 1.10,
    'CM': 1.08, 'DM': 1.05, 'CDM': 1.05,
    'CB': 1.00, 'RB': 0.98, 'LB': 0.98, 'LWB': 1.02, 'RWB': 1.02,
    'GK': 0.85
}
pos_factor = pos.map(position_multipliers).fillna(1.0)

# лиги (строки как в данных)
league = df_work['league']
league_multipliers = {
    'England Premier League': 1.85,
    'Spain La Liga':          1.70,
    'Germany Bundesliga':     1.38,
    'Italy Serie A':          1.36,
    'France Ligue 1':         1.34,

    'Netherlands Eredivisie': 1.00,
    'Portugal Primeira Liga': 1.00,
    'Austria Bundesliga':     0.90,
    'Denmark Superliga':      0.82,

    'Saudi-Arabia Pro League': 0.56,
    'USA Major League Soccer': 0.78,

    'England Championship':    0.74,
    'Germany 2. Bundesliga':   0.64,
    'France Ligue 2':          0.66,
    'Italy Serie B':           0.68,
    'England League One':      0.62,
    'England League Two':      0.58,

    'Brazil Serie A':         0.92,
    'Argentina Liga Profesional Argentina': 0.90,
    'Mexico Liga MX':         0.88,
    'Russia Premier League':  0.86,
    'Sweden Allsvenskan':     0.86,
    'Croatia HNL':            0.84,
    'Colombia Primera A':     0.82,
    'Belgium Challenger Pro League': 0.72,
}
league_factor = league.map(league_multipliers).fillna(1.0)

# оценка числа матчей (грубая)
estimated_matches = np.maximum(df_work['shots_total'] / 3.5, 1)

# метрики на матч
g_pm = df_work['goals'] / estimated_matches
a_pm = df_work['assists'] / estimated_matches

# точность ударов
shot_acc = np.where(df_work['shots_total'] > 0,
                    df_work['shots_on'] / df_work['shots_total'], 0.5)

# качество паса
pass_qual = np.where(df_work['passes_total'] > 0,
                     df_work['passes_key'] / df_work['passes_total'], 0.05)

# веса по ролям
is_att = pos.isin(['FW','ST','CF','LW','RW','AM','CAM'])
is_mid = pos.isin(['CM','DM','CDM','LM','RM'])
is_def = pos.isin(['CB','RB','LB','RWB','LWB'])

goal_w = np.where(is_att, 1.0, np.where(is_mid, 0.6, 0.3))
assist_w = np.where(is_att, 0.8, np.where(is_mid, 1.0, 0.5))
pass_w = np.where(is_mid, 1.2, np.where(is_def, 0.8, 0.6))

# скор производительности
perf_score = (
    goal_w * np.log1p(g_pm * 10) +
    assist_w * np.log1p(a_pm * 10) +
    0.3 * shot_acc +
    pass_w * pass_qual * 2 +
    0.2 * np.log1p(df_work['passes_total'] / 100)
)
perf_factor = 1 + np.clip(perf_score / 3, 0, 1.5)

# активность
total_activity = (
    df_work['shots_total'] * 2 +
    df_work['goals'] * 10 +
    df_work['assists'] * 8 +
    df_work['passes_key'] * 3 +
    df_work['passes_total'] * 0.1
)
activity_factor = 1 + np.log1p(total_activity) / 15

# капитан
captain_factor = np.where(df_work['is_captain'].fillna(0).astype(bool), 1.08, 1.0)

# рост
height = df_work['player_height'].replace(0, np.nan).fillna(180)
height_z = (height - 180) / 10
height_matter = pos.isin(['CB','ST','CF','FW','GK'])
height_factor = np.where(height_matter, 1 + 0.02 * np.tanh(height_z), 1.0)

# базовая стоимость
base_value = (
    500_000 +
    total_activity * 150 +
    df_work['goals'] * 800_000 +
    df_work['assists'] * 500_000
)

# итоговая оценка
df_work['estimated_value'] = (
    base_value *
    age_factor *
    pos_factor *
    league_factor *
    perf_factor *
    activity_factor *
    captain_factor *
    height_factor
)

# глобальный масштаб: 2.0 вместо 0.90 для совпадения с Transfermarkt
df_work['estimated_value'] *= 2.0

# границы и округление
df_work['estimated_value'] = df_work['estimated_value'].clip(200_000, 200_000_000)
df_work['estimated_value'] = (df_work['estimated_value'] / 100_000).round() * 100_000

In [99]:
df_work['estimated_value'].dropna().count()

np.int64(13628)

In [100]:
df_work['estimated_value'].describe()

count            13628.0
mean      7625836.513061
std      13670962.309284
min             200000.0
25%             900000.0
50%            2400000.0
75%            8500000.0
max          200000000.0
Name: estimated_value, dtype: Float64

In [101]:
df_work.groupby('position')['estimated_value'].median().sort_values(ascending=False)

position
Attacker      5600000.0
Midfielder    3300000.0
Defender      2200000.0
Goalkeeper     900000.0
Name: estimated_value, dtype: Float64

In [102]:
df_work.groupby('league')['estimated_value'].median().sort_values(ascending=False)

league
Germany Bundesliga                      5300000.0
England Premier League                  5200000.0
Italy Serie A                           4400000.0
France Ligue 1                          3650000.0
Netherlands Eredivisie                  3600000.0
Russia Premier League                   3100000.0
Germany 2. Bundesliga                   2800000.0
USA Major League Soccer                 2800000.0
England League Two                      2700000.0
Italy Serie B                           2650000.0
Denmark Superliga                       2600000.0
England Championship                    2600000.0
England League One                      2400000.0
Spain La Liga                           2400000.0
Austria Bundesliga                      2350000.0
Belgium Challenger Pro League           2150000.0
Saudi-Arabia Pro League                 2000000.0
Portugal Primeira Liga                  1600000.0
Brazil Serie A                          1500000.0
Sweden Allsvenskan                      1300000.0
Mexico Liga MX                          1300000.0
Argentina Liga Profesional Argentina    1200000.0
France Ligue 2                          1200000.0
Croatia HNL                             1100000.0
Colombia Primera A                      1000000.0
Name: estimated_value, dtype: Float64

In [103]:
df_work[['player_name','league','position','estimated_value']].sort_values('estimated_value', ascending=False).head(20)

        player_name                  league    position  estimated_value
189   Mohamed Salah  England Premier League    Attacker      200000000.0
169   Kylian Mbappe           Spain La Liga    Attacker      200000000.0
1101        A. Isak  England Premier League    Attacker      196200000.0
3555      B. Mbeumo  England Premier League    Attacker      188300000.0
483    M. Greenwood  England Premier League    Attacker      177200000.0
2889    V. Gyokeres  Portugal Primeira Liga    Attacker      173300000.0
3206       M. Olise  England Premier League  Midfielder      170900000.0
168   Kylian Mbappe          France Ligue 1    Attacker      164600000.0
485    M. Greenwood           Spain La Liga    Attacker      162800000.0
556      E. Haaland  England Premier League    Attacker      159200000.0
697        Raphinha           Spain La Liga    Attacker      153900000.0
3577       Y. Wissa  England Premier League    Attacker      141400000.0
7609      C. Palmer  England Premier League  Midfielder      140900000.0
592   Matheus Cunha  England Premier League    Attacker      136300000.0
3082     O. Watkins  England Premier League    Attacker      135300000.0
91       O. Dembele          France Ligue 1    Attacker      134400000.0
1342     J. Alvarez           Spain La Liga    Attacker      129700000.0
484    M. Greenwood          France Ligue 1    Attacker      128400000.0
108         H. Kane      Germany Bundesliga    Attacker      128300000.0
3101       J. Bowen  England Premier League    Attacker      127500000.0

In [104]:
df_work[['player_name','league','position','estimated_value']].sort_values('estimated_value', ascending=True).head(20)

,player_name,league,position,estimated_value
13058,Justin Clarke,England League Two,Midfielder,200000.0
1577,L. Rodriguez,Argentina Liga Profesional Argentina,Attacker,200000.0
13591,R. Cole,England League One,Midfielder,200000.0
1581,A. Costa,France Ligue 2,Midfielder,200000.0
6463,M. Torres,Colombia Primera A,Midfielder,200000.0
5292,C. Doyle,England League Two,Goalkeeper,200000.0
2547,J. Murphy,England League Two,Goalkeeper,200000.0
2608,M. Jones,England League Two,Midfielder,200000.0
2248,T. Gutierrez,Colombia Primera A,Attacker,200000.0
2026,Paulo Victor,Saudi-Arabia Pro League,Goalkeeper,200000.0
1741,R. Riou,France Ligue 2,Goalkeeper,200000.0
13211,J. Clarke,England League One,Midfielder,200000.0
1579,J. Carranza,Argentina Liga Profesional Argentina,Goalkeeper,200000.0
994,A. Silva,Colombia Primera A,Goalkeeper,200000.0
6757,O. Ustari,USA Major League Soccer,Goalkeeper,200000.0
13525,Ollie Evans,England League One,Defender,200000.0
2660,G. Morris,England League Two,Goalkeeper,200000.0
2502,T. Mikkelsen,Denmark Superliga,Goalkeeper,200000.0
5797,B. Guzan,USA Major League Soccer,Goalkeeper,300000.0
13543,W. Wright,England League Two,Attacker,300000.0

In [105]:
# молодость
youth_factor = np.exp(-((df_work['age'] - 21) ** 2) / (2 * (5 ** 2)))

# нормализуем рейтинг
rating_norm = (df_work['player_rating'] - df_work['player_rating'].min()) / (df_work['player_rating'].max() - df_work['player_rating'].min())

# нормализуем цену
price_norm = (df_work['estimated_value'] - df_work['estimated_value'].min()) / (df_work['estimated_value'].max() - df_work['estimated_value'].min())
df_work['player_potential'] = rating_norm * youth_factor * (1 - price_norm)

# масштабируем 0-100
df_work['player_potential'] = (df_work['player_potential'] / df_work['player_potential'].max()) * 100

In [106]:
df_work.to_csv('df_after_fe.csv', index=False)