In [4]:
import sys
import os

'''

Jupyter указывает корневую директорию - директорию, в которой создали файл .ipynb, в данном случае eda/,
поэтому он не видит директории выше уровнем и не может импортировать модули оттуда. 
Код ниже - устанваливает корневой директорией - директорию проекта, то есть /api_eda_football

'''

current_dir = os.getcwd()
if current_dir.endswith('/eda'):
    project_root = os.path.dirname(current_dir)
else:
    project_root = current_dir

sys.path.append(project_root)

In [13]:
import pandas as pd
contracts = pd.read_csv(f"{os.path.dirname(current_dir)}/data_collection/contracts.csv")
players = pd.read_csv(f"{os.path.dirname(current_dir)}/data_collection/players_stats.csv")

In [10]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25921 entries, 0 to 25920
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team_id            25921 non-null  int64
 1   player_id          25921 non-null  int64
 2   player_name        25921 non-null  object
 3   age                25811 non-null  float64
 4   country_birth      25921 non-null  object
 5   nationality        25921 non-null  object
 6   player_height      22051 non-null  object
 7   player_weight      19698 non-null  object
 8   player_photo       25921 non-null  object
 9   injured            25921 non-null  bool
 10  league             25921 non-null  object
 11  season             25921 non-null  int64
 12  position           25911 non-null  object
 13  is_captain         25921 non-null  bool
 14  shots_on           10547 non-null  float64
 15  shots_total        12117 non-null  float64
 16  goals              16901 non-null  float64
 17  assists            15053 non-null  float64
 18  passes_total       15197 non-null  float64
 19  passes_key         12271 non-null  float64
 20  duels_total        14945 non-null  float64
 21  duels_won          14582 non-null  float64
 22  dribbles_attempts  12846 non-null  float64
 23  dribbles_success   11861 non-null  float64
 24  fouls              13332 non-null  float64
 25  yellow_cards       20795 non-null  float64
 26  yellow_red_cards   13403 non-null  float64
 27  red_cards          20795 non-null  float64
 28  sidelined_times    25921 non-null  int64
 29  trophies_count     25921 non-null  int64
 30  player_rating      15129 non-null  float64
 31  team_name          25808 non-null  object
 32  team_country       25808 non-null  object
 33  team_logo          25808 non-null  object
dtypes: bool(2), float64(16), int64(5), object(11)
memory usage: 6.4+ MB

In [14]:
contracts

                    player        signed    expiration  years_remaining
0               Harry Kane  Aug 12, 2023  Jun 30, 2027                2
1             Manuel Neuer   Feb 3, 2025  Jun 30, 2026                1
2           Joshua Kimmich  Mar 13, 2025  Jun 30, 2029                4
3            Jamal Musiala  Feb 14, 2025  Jun 30, 2030                5
4             Serge Gnabry  Jul 16, 2022  Jun 30, 2026                1
...                    ...           ...           ...              ...
15807       Elliot Holmäng   Jan 1, 2025  Dec 31, 2026                2
15808       Eino Ehrnrooth   Jan 1, 2025  Dec 31, 2026                2
15809        Eero Vuorjoki   Jan 4, 2024  Dec 31, 2025                1
15810  Otso-Pekka Parkkila   Jan 1, 2024  Dec 31, 2025                1
15811        Otto Eloluoto   Jan 1, 2025  Dec 31, 2025                1

[15812 rows x 4 columns]

In [15]:
char_replacements = {
        'æ': 'ae', 'Æ': 'AE',
        'ø': 'o', 'Ø': 'O',
        'å': 'a', 'Å': 'A',
        'ß': 'ss', 'ẞ': 'SS',
        'ñ': 'n', 'Ñ': 'N',
        'ç': 'c', 'Ç': 'C',
        'ğ': 'g', 'Ğ': 'G',
        'ş': 's', 'Ş': 'S',
        'ı': 'i', 'İ': 'I',
        'ö': 'o', 'Ö': 'O',
        'ü': 'u', 'Ü': 'U',
        'ä': 'a', 'Ä': 'A',
        'é': 'e', 'É': 'E',
        'á': 'a', 'Á': 'A',
        'í': 'i', 'Í': 'I',
        'ó': 'o', 'Ó': 'O',
        'ú': 'u', 'Ú': 'U',
        'ê': 'e', 'Ê': 'E',
        'â': 'a', 'Â': 'A',
        'î': 'i', 'Î': 'I',
        'ô': 'o', 'Ô': 'O',
        'û': 'u', 'Û': 'U',
        'ë': 'e', 'Ë': 'E',
        'ï': 'i', 'Ï': 'I',
        'ÿ': 'y', 'Ÿ': 'Y',
        'č': 'c', 'Č': 'C',
        'š': 's', 'Š': 'S',
        'ž': 'z', 'Ž': 'Z',
        'ń': 'n', 'Ń': 'N',
        'ł': 'l', 'Ł': 'L',
        'đ': 'd', 'Đ': 'D',
        'ħ': 'h', 'Ħ': 'H',
        'ć': 'c', 'Ć': 'C',
        'ę': 'e', 'Ę': 'E',
        'ą': 'a', 'Ą': 'A',
        'ś': 's', 'Ś': 'S',
        'ź': 'z', 'Ź': 'Z',
        'ż': 'z', 'Ż': 'Z'
    }
for old_char, new_char in char_replacements.items():
    players['player_name'] = players['player_name'].str.replace(old_char, new_char, regex=False)

def to_initials(df, name_column='player_name', new_column='new_name'):
    df[new_column] = df[name_column].str[0] + '.' + df[name_column].str.split().str[-1]
    return df
to_initials(players, name_column = 'player_name', new_column = 'new_name')

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,yellow_cards,yellow_red_cards,red_cards,sidelined_times,trophies_count,player_rating,team_name,team_country,team_logo,new_name
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,NaN,NaN,NaN,11,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,NaN,NaN,NaN,4,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure
2,45,172,D. Alli,29.0,England,England,188,76,https://media.api-sports.io/football/players/1...,False,...,NaN,NaN,NaN,17,12,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,D.Alli
3,55,2699,S. Ghoddos,32.0,Sweden,Iran,175,79,https://media.api-sports.io/football/players/2...,False,...,NaN,NaN,NaN,5,2,NaN,Brentford,England,https://media.api-sports.io/football/teams/55.png,S.Ghoddos
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,NaN,NaN,NaN,36,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25916,426,1815,J. de Guzman,38.0,Canada,Netherlands,173,70,https://media.api-sports.io/football/players/1...,False,...,1.0,NaN,0.0,11,14,6.450000,Sparta Rotterdam,Netherlands,https://media.api-sports.io/football/teams/426...,J.Guzman
25917,205,2109,S. Bastien,29.0,Belgium,Congo DR,175,75,https://media.api-sports.io/football/players/2...,False,...,0.0,0.0,0.0,5,9,6.731818,Fortuna Sittard,Netherlands,https://media.api-sports.io/football/teams/205...,S.Bastien
25918,194,25321,D. Klaassen,32.0,Netherlands,Netherlands,179,70,https://media.api-sports.io/football/players/2...,False,...,0.0,0.0,0.0,11,30,7.058064,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,D.Klaassen
25919,209,138874,A. Tsoungui,23.0,Belgium,Belgium,185,68,https://media.api-sports.io/football/players/1...,False,...,0.0,0.0,0.0,1,2,NaN,Feyenoord,Netherlands,https://media.api-sports.io/football/teams/209...,A.Tsoungui
25920,194,282126,Carlos Forbs,21.0,Portugal,Portugal,169,62,https://media.api-sports.io/football/players/2...,False,...,0.0,NaN,0.0,3,14,6.900000,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,C.Forbs

In [16]:
for old_char, new_char in char_replacements.items():
    contracts['player'] = contracts['player'].str.replace(old_char, new_char, regex=False)

to_initials(contracts, name_column = 'player', new_column = 'new_name')

,player,signed,expiration,years_remaining,new_name
0,Harry Kane,"Aug 12, 2023","Jun 30, 2027",2,H.Kane
1,Manuel Neuer,"Feb 3, 2025","Jun 30, 2026",1,M.Neuer
2,Joshua Kimmich,"Mar 13, 2025","Jun 30, 2029",4,J.Kimmich
3,Jamal Musiala,"Feb 14, 2025","Jun 30, 2030",5,J.Musiala
4,Serge Gnabry,"Jul 16, 2022","Jun 30, 2026",1,S.Gnabry
...,...,...,...,...,...
15807,Elliot Holmang,"Jan 1, 2025","Dec 31, 2026",2,E.Holmang
15808,Eino Ehrnrooth,"Jan 1, 2025","Dec 31, 2026",2,E.Ehrnrooth
15809,Eero Vuorjoki,"Jan 4, 2024","Dec 31, 2025",1,E.Vuorjoki
15810,Otso-Pekka Parkkila,"Jan 1, 2024","Dec 31, 2025",1,O.Parkkila
15811,Otto Eloluoto,"Jan 1, 2025","Dec 31, 2025",1,O.Eloluoto

In [17]:
df = pd.merge(players, contracts, on='new_name')
df

,team_id,player_id,player_name,age,country_birth,nationality,player_height,player_weight,player_photo,injured,...,trophies_count,player_rating,team_name,team_country,team_logo,new_name,player,signed,expiration,years_remaining
0,45,83,A. Danjuma,28.0,Nigeria,Netherlands,178,74,https://media.api-sports.io/football/players/8...,False,...,8,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Danjuma,Arnaut Danjuma,"Aug 10, 2025","Jun 30, 2028",3
1,36,105,F. Ballo-Toure,28.0,France,Senegal,182,70,https://media.api-sports.io/football/players/1...,False,...,14,NaN,Fulham,England,https://media.api-sports.io/football/teams/36.png,F.Ballo-Toure,Fode Ballo-Toure,"Sep 3, 2025","Jun 30, 2026",1
2,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Sep 6, 2024","Jun 30, 2026",1
3,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Angel Gomes,"Jul 4, 2025","Jun 30, 2028",3
4,45,18765,Andre Gomes,32.0,Portugal,Portugal,188,84,https://media.api-sports.io/football/players/1...,False,...,35,NaN,Everton,England,https://media.api-sports.io/football/teams/45.png,A.Gomes,Andre Gomes,"Jul 11, 2025","Jun 30, 2026",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20180,426,1815,J. de Guzman,38.0,Canada,Netherlands,173,70,https://media.api-sports.io/football/players/1...,False,...,14,6.450000,Sparta Rotterdam,Netherlands,https://media.api-sports.io/football/teams/426...,J.Guzman,Jonathan de Guzman,"Jun 13, 2024","Jun 30, 2026",1
20181,205,2109,S. Bastien,29.0,Belgium,Congo DR,175,75,https://media.api-sports.io/football/players/2...,False,...,9,6.731818,Fortuna Sittard,Netherlands,https://media.api-sports.io/football/teams/205...,S.Bastien,Samuel Bastien,"Aug 8, 2024","Jun 30, 2027",2
20182,194,25321,D. Klaassen,32.0,Netherlands,Netherlands,179,70,https://media.api-sports.io/football/players/2...,False,...,30,7.058064,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,D.Klaassen,Davy Klaassen,"Jun 30, 2025","Jun 30, 2027",2
20183,209,138874,A. Tsoungui,23.0,Belgium,Belgium,185,68,https://media.api-sports.io/football/players/1...,False,...,2,NaN,Feyenoord,Netherlands,https://media.api-sports.io/football/teams/209...,A.Tsoungui,Antef Tsoungui,"Sep 1, 2025","Jun 30, 2029",4
20184,194,282126,Carlos Forbs,21.0,Portugal,Portugal,169,62,https://media.api-sports.io/football/players/2...,False,...,14,6.900000,Ajax,Netherlands,https://media.api-sports.io/football/teams/194...,C.Forbs,Carlos Forbs,"Jul 17, 2025","Jun 30, 2029",4

In [18]:
df.to_csv('merged_df.csv', index=False)